.row,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the row */
.row {
  display: block;
  clear: both;
}
.row .unit {
  float: left;
  width: 100%;
  padding: 20px;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.row .unit:first-child { padding-left: 20px; }
.row .unit:last-child { padding-right: 20px; }

/* Nested rows already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .row:first-child > .unit { padding-top: 0; }
.unit .row:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .row,
.row.wrap {
  margin: 0;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a row unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.row .w-1-4 { width: 25%; }
.row .w-1-3 { width: 33.33%; }
.row .w-2-4 { width: 50%; }
.row .w-3-4 { width: 75%; }
.row .w-4-4 { width: 100%; }

.row .w-1-8 { width: 12.5%; }
.row .w-7-8 { width: 87.5%; }

/* Clearfix after every .row */
.row {
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* Responsive Stuff */
@media screen and (max-width: 800px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .row .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }


  .unit .row .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }

}

