/*
* SETTINGS
*/
@import 'reset';
@import 'grid';

@font-face {
	font-family: 'Unica';
	font-weight: 300;
	font-style: normal;
	src: url(../fonts/Unica77LL-Light.woff2) format('woff2')
}
@font-face {
	font-family: 'Unica';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Unica77LL-Regular.woff2) format('woff2')
}
@font-face {
	font-family: 'Unica';
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Unica77LL-Medium.woff2) format('woff2')
}



$font-primary: "Unica", sans-serif;

$fontsize-default: 2rem;
$fontsize-small: 1.6rem;

$lineheight-default: 1.3;
$gutter: 40px;

$color-background: #fff;
$color-primary: #000;
$color-secondary: #A8A9A8;
$color-tertiary: #4D4D4D;

$color-accent: #1023D6;
$color-error: #FF0000;


$border: 1px solid $color-primary;

::selection {background-color: rgba(255,255,255,0.2);}
textarea,input,input[type="text"],input[type="button"],input[type="submit"]{-webkit-appearance: none;border-radius: 0;}
::-webkit-input-placeholder {color:$color-secondary;}
:-moz-placeholder {color:$color-secondary;opacity:1;}
::-moz-placeholder {color:$color-secondary;opacity:  1;}
:-ms-input-placeholder {color:$color-secondary;}

* {
	tap-highlight-color: transparent;
	pointer-events: fill;
	text-rendering: optimizelegibility;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

html {
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "kern", "liga", "case";
	font-size: 62.5%;
}
body {
	background: $color-background;
	color: $color-primary;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $fontsize-default;
	line-height: $lineheight-default;
	margin: $gutter/2 auto;
	max-width: 70%;
}
.row {
	margin: 0;
}

img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
}

strong {
}

em {
}

blockquote p {
	border-left: 2px solid;
	padding-left: $gutter;
}


.video {
	margin: $gutter/2 0;
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
	background: $color-background;
}
.video embed, .video iframe, .video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#error-video {
		position: absolute; bottom: 0px; right: 0px;
		min-width: 100%; min-height: 100%; width: auto; height: auto;
		z-index: -1000; overflow: hidden; }


h1, h2, h3, h4, h5, h6, small {
	font-size: $fontsize-default;

}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $color-primary;
	text-decoration: none;
}

h1.logo {
	text-transform: uppercase;
	text-align: center;
}	

h2 {
	margin-top: $gutter/4;
}

p {
	padding: 0 0 $gutter/2 0;
	margin: 0;
}

figcaption {
	font-size: $fontsize-small;
	display: block;
	margin: $gutter/4 0 0 0;
	text-transform: uppercase;
	text-align: center
}


a {
	color: $color-primary;
	text-decoration: none;
}

a:hover {
	color: $color-accent;
}

a.button {
	max-width: 50%;
	font-size: $fontsize-small;
	border: none;
	display: block;
	margin-top: $gutter/2;
	padding: 0;
	color: $color-primary;
	border-bottom: 1px solid $color-primary;
}
a.button:hover {
	color: $color-accent;
	border-bottom: 1px solid $color-accent;
}


hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin: $gutter*2 auto;
	page-break-after:always;
	text-align:center;
}

header {
	margin: 0 auto;
}

section {
	margin: 0 auto;
}

nav {
	font-size: $fontsize-small;

	h1 {
		font-size: $fontsize-small;
		a {border: none}
	}
	ul {	
		list-style: none;
			li {
				margin-bottom: $gutter/12;
  				a {border: none;}
  				a.active {opacity: 0.35;}
  			}
  		}
}

section {
	article {
		margin-top: $gutter*5;
		padding: $gutter 0; 
		figure, iframe {
		}
		img {
			// lazy retina. I should fix this
			zoom: 0.5;
			padding: $gutter 0; 
			margin: 0 auto;
			display: block;
  		}


		ul li a img:hover {}
	}
}

@-moz-document url-prefix(){
 			   img {max-width: 50%; height:auto;}
			}

.news {
	display: block;
	border: 1px solid $color-primary;
	text-align: center;
	padding: $gutter*2 0 $gutter*1.7 0;
}
.news:hover {
	border: 1px solid $color-accent;
}
a.news {
	text-decoration: none;
}

/*-------------------------------------------------*/
/*
* Responsive
*/

@media only screen and (max-width: 768px) {

body, .newsletter {
	max-width: 90%;
}

nav {
	ul {	
		margin: $gutter/2 0 0 0;
		text-align: left;
			li {
  				padding: 0 $gutter 0 0;
  			}
  		}
	}
}





