/*
* SETTINGS
*/
@import 'reset';
@import 'grid';


@font-face {
	font-family: 'ABCDiatype';
	font-weight: 300;
	font-style: normal;
	src: url(../fonts/ABCDiatype-Light.woff2) format('woff2')
}
@font-face {
	font-family: 'ABCDiatype';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/ABCDiatype-Regular.woff2) format('woff2')
}
@font-face {
	font-family: 'ABCDiatype';
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/ABCDiatype-Medium.woff2) format('woff2')
}
@font-face {
	font-family: 'ABCDiatype';
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/ABCDiatype-Bold.woff2) format('woff2')
}
@font-face {
	font-family: 'ABCDiatype';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/ABCDiatype-Heavy.woff2) format('woff2')
}

$font-primary: "ABCDiatype", sans-serif;

$fontsize-default: 2.4rem;
$fontsize-default-mobile: 2rem;
$fontsize-small: 2rem;

$lineheight-default: 1.35;
$gutter: 40px;

$color-background: #FDFDFA;
// $color-background: #F5F5F7;

$color-primary: #2B2B2E;
$color-secondary: #A09E96;
$color-tertiary: #BEBCB4;

$color-accent: #BEBCB4;
$color-error: #F12321;


$border: 1px solid $color-primary;

::selection {background-color: rgba(0,0,0,0.2);}
textarea,input,input[type="text"],input[type="button"],input[type="submit"]{-webkit-appearance: none;border-radius: 0;}
::-webkit-input-placeholder {color:$color-secondary;}
:-moz-placeholder {color:$color-secondary;opacity:1;}
::-moz-placeholder {color:$color-secondary;opacity:  1;}
:-ms-input-placeholder {color:$color-secondary;}

* {
	tap-highlight-color: transparent;
	pointer-events: fill;
	text-rendering: optimizelegibility;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html {
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "kern", "liga", "case";
	font-size: 62.5%;
}
body {
	background: $color-background;
	color: $color-secondary;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $fontsize-default;
	line-height: $lineheight-default;
	margin: $gutter/2 auto;
}

.row {
	margin: 0;
}
img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
}
strong {
}
em {
	font-weight: 500;
	color: $color-primary;

}
blockquote p {
	border-left: 2px solid;
	padding-left: $gutter;
}


.video {
	margin: $gutter/2 0;
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
	background: $color-background;
}
.video embed, .video iframe, .video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#error-video {
		position: absolute; bottom: 0px; right: 0px;
		min-width: 100%; min-height: 100%; width: auto; height: auto;
		z-index: -1000; overflow: hidden; }


h1, h2, h3, h4, h5, h6, small {
	font-size: $fontsize-default;
}

h2 {
	color: $color-primary;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $color-primary;
	text-decoration: none;
}
p {
	padding: 0 0 $gutter/2 0;
	margin: 0;
}
figcaption {
	font-size: $fontsize-small;
	display: block;
	margin: $gutter/4 0 0 0;
	text-transform: uppercase;
	text-align: center
}
a {
	color: $color-secondary;
	border-bottom: 1px solid $color-tertiary;
	text-decoration: none;
}
a:hover {
	color: $color-tertiary;
}
a.button {
	display: inline-block;
	line-height: 1;
	margin-top: $gutter/4;
	font-size: $fontsize-small;
	padding: $gutter/3 $gutter/2 $gutter/2.8 $gutter/2;
	color: $color-background;
	border: none;
	border-radius: 100px;
	background: $color-primary;
}
a.button:hover {
	color: $color-primary;
	background: $color-tertiary;
}


hr {
	border:0px;
	line-height:0;
	margin: $gutter auto;
	page-break-after:always;
	text-align:center;
}

header {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 $gutter;
}


h1.logo {
	text-align: right;
	font-size: $fontsize-small;
	a {border: none}
}
h1.logo-links {
	text-align: center;
	font-size: $fontsize-small;
	a {border: none}
}

nav {
	font-size: $fontsize-small;
	ul {
		list-style: none;
			li {
			display: inline;
			padding-right: $gutter/5;

  				a {
  					border: none;
  					color: $color-secondary;
  				}
  				a:hover {
  					color: $color-primary;
  				}
  				a.active {color: $color-primary;}
  			}
  		}
}
section {
	max-width: 75%;
	margin: 0 auto;

	article {
		margin-top: $gutter*5;
		padding: $gutter 0;

			figure, iframe {
			}
			img {
				// lazy retina. I need to fix this.
				zoom: 0.5;
				padding: $gutter 0;
				margin: 0 auto;
				display: block;
	  		}

			ul li a img:hover {}

	}
	article.linklist {
		margin-top: $gutter;
		hr {margin-bottom: $gutter*4;}
	}
	article.project {
		margin-top: $gutter*2;
		padding: $gutter 0;
	}
}

@-moz-document url-prefix(){
 			   img {max-width: 50%; height:auto;}
			}

.linktree {
	display: block;
	border: 1px solid $color-secondary;
	text-align: center;
	padding: $gutter;
	margin: 0 auto;
}
.linktree:hover {
	border: 1px solid $color-accent;
}
a.linktree {
	color: $color-primary;
	text-decoration: none;
}
a.linktree:hover {
	color: $color-secondary;
}


.news {
	max-width: 75%;
	display: block;
	border: 1px solid $color-secondary;
	text-align: center;
	padding: $gutter*2 $gutter*2;
	margin: 0 auto;
}
.news:hover {
	border: 1px solid $color-accent;
}
a.news {
	color: $color-primary;
	text-decoration: none;
}
a.news:hover {
	color: $color-secondary;

}



/*-------------------------------------------------*/
/*
* Responsive
*/

@media only screen and (max-width: 1024px) {

body {font-size: $fontsize-default-mobile;}
section {max-width: 90%;}
h1.logo {text-align: left;}
header {
	max-width: 90%;
	margin: 0 auto;
	padding: 0 $gutter/2;
}


}
