@charset "UTF-8";
/*
* SETTINGS
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

.row,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set up some rules to govern the row */
.row {
  display: block;
  clear: both; }

.row .unit {
  float: left;
  width: 100%; }

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
/* Nested rows already have padding though, so let’s nuke it */
/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important; }

/* Wrapping at a maximum width is optional */
.wrap .row,
.row.wrap {
  margin: 0; }

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a row unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.row .w-1-4 {
  width: 25%; }

.row .w-1-3 {
  width: 33.33%; }

.row .w-2-4 {
  width: 50%; }

.row .w-3-4 {
  width: 75%; }

.row .w-4-4 {
  width: 100%; }

.row .w-1-8 {
  width: 12.5%; }

.row .w-2-8 {
  width: 25%; }

.row .w-7-8 {
  width: 87.5%; }

.row .w-8-8 {
  width: 100%; }

unit
.row {
  *zoom: 1; }

.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

.row:after {
  clear: both; }

/* Utility classes */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Responsive Stuff */
@media screen and (max-width: 800px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .row .unit {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0; }

  .unit .row .unit {
    padding-left: 0px;
    padding-right: 0px; }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important; }

  .hide-on-mobiles {
    display: none !important; } }
@font-face {
  font-family: 'ABCDiatype';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/ABCDiatype-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'ABCDiatype';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ABCDiatype-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'ABCDiatype';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/ABCDiatype-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'ABCDiatype';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/ABCDiatype-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'ABCDiatype';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ABCDiatype-Heavy.woff2) format("woff2"); }
::selection {
  background-color: rgba(0, 0, 0, 0.2); }

textarea, input, input[type="text"], input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  color: #A09E96; }

:-moz-placeholder {
  color: #A09E96;
  opacity: 1; }

::-moz-placeholder {
  color: #A09E96;
  opacity: 1; }

:-ms-input-placeholder {
  color: #A09E96; }

* {
  tap-highlight-color: transparent;
  pointer-events: fill;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern", "liga", "case";
  font-size: 62.5%; }

body {
  background: #FDFDFA;
  color: #A09E96;
  font-family: "ABCDiatype", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.35;
  margin: 20px auto; }

.row {
  margin: 0; }

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto; }

em {
  font-weight: 500;
  color: #2B2B2E; }

blockquote p {
  border-left: 2px solid;
  padding-left: 40px; }

.video {
  margin: 20px 0;
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  height: 0;
  overflow: hidden;
  background: #FDFDFA; }

.video embed, .video iframe, .video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#error-video {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 2.4rem; }

h2 {
  color: #2B2B2E; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #2B2B2E;
  text-decoration: none; }

p {
  padding: 0 0 20px 0;
  margin: 0; }

figcaption {
  font-size: 2rem;
  display: block;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  text-align: center; }

a {
  color: #A09E96;
  border-bottom: 1px solid #BEBCB4;
  text-decoration: none; }

a:hover {
  color: #BEBCB4; }

a.button {
  display: inline-block;
  line-height: 1;
  margin-top: 10px;
  font-size: 2rem;
  padding: 13.3333333333px 20px 14.2857142857px 20px;
  color: #FDFDFA;
  border: none;
  border-radius: 100px;
  background: #2B2B2E; }

a.button:hover {
  color: #2B2B2E;
  background: #BEBCB4; }

hr {
  border: 0px;
  line-height: 0;
  margin: 40px auto;
  page-break-after: always;
  text-align: center; }

header {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px; }

h1.logo {
  text-align: right;
  font-size: 2rem; }
  h1.logo a {
    border: none; }

h1.logo-links {
  text-align: center;
  font-size: 2rem; }
  h1.logo-links a {
    border: none; }

nav {
  font-size: 2rem; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline;
      padding-right: 8px; }
      nav ul li a {
        border: none;
        color: #A09E96; }
      nav ul li a:hover {
        color: #2B2B2E; }
      nav ul li a.active {
        color: #2B2B2E; }

section {
  max-width: 75%;
  margin: 0 auto; }
  section article {
    margin-top: 200px;
    padding: 40px 0; }
    section article img {
      zoom: 0.5;
      padding: 40px 0;
      margin: 0 auto;
      display: block; }
  section article.linklist {
    margin-top: 40px; }
    section article.linklist hr {
      margin-bottom: 160px; }
  section article.project {
    margin-top: 80px;
    padding: 40px 0; }

@-moz-document url-prefix() {
  img {
    max-width: 50%;
    height: auto; } }
.linktree {
  display: block;
  border: 1px solid #A09E96;
  text-align: center;
  padding: 40px;
  margin: 0 auto; }

.linktree:hover {
  border: 1px solid #BEBCB4; }

a.linktree {
  color: #2B2B2E;
  text-decoration: none; }

a.linktree:hover {
  color: #A09E96; }

.news {
  max-width: 75%;
  display: block;
  border: 1px solid #A09E96;
  text-align: center;
  padding: 80px 80px;
  margin: 0 auto; }

.news:hover {
  border: 1px solid #BEBCB4; }

a.news {
  color: #2B2B2E;
  text-decoration: none; }

a.news:hover {
  color: #A09E96; }

/*-------------------------------------------------*/
/*
* Responsive
*/
@media only screen and (max-width: 1024px) {
  body {
    font-size: 2rem; }

  section {
    max-width: 90%; }

  h1.logo {
    text-align: left; }

  header {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px; } }

/*# sourceMappingURL=main.css.map */
